# Build output
dist/

# Dependencies
node_modules/

# Astro generated types
.astro/

# Env
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
.opencode/
.vscode/
graphify-out/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
